
body {
  X-border: 3px solid red;
}

dialog,
X__my-pomodoro-timer::part(dialog) {
  X-background: #f8fff8;
  background: rgba(250, 255, 250, .9);
  border: .7rem solid #999;
  border-radius: 1rem;
  color: #006060; /* teal, #008080 */
  min-height: 17rem;
  min-width: 21rem;
  text-align: center;
}

dialog::backdrop /* ,
my-pomodoro-timer::part(dialog)::backdrop */ {
  background: rgba(25, 25, 20, .85);
  X-opacity: .1rem;
}

h1,
X__my-pomodoro-timer::part(hdg) {
  font-weight: normal;
}

output,
X__my-pomodoro-timer::part(output) {
  font-size: x-large;
}

button,
X__my-pomodoro-timer::part(button) {
  font-size: inherit;
  padding: .8rem 1.6rem;
}

img[ src *= evergreen_tree ] {
  height: 9rem;
}

.tree-icon {
  color: green;
  font-size: 5rem;
  font-variation-settings: 'FILL' 1;
}
