
body {
  X-border: 3px solid red;
}

dialog,
X__my-pomodoro-timer::part(dialog) {
  background: #f8fff8;
  border-width: 4px;
  border-radius: .8rem;
  color: #222;
  min-width: 16rem;
  text-align: center;
}

dialog::backdrop /* ,
my-pomodoro-timer::part(dialog)::backdrop */ {
  background: rgba(10, 10, 10, .5);
  X-opacity: .1rem;
}

h1,
X__my-pomodoro-timer::part(hdg) {
  font-weight: normal;
}

output,
X__my-pomodoro-timer::part(output) {
  font-size: x-large;
}

button,
X__my-pomodoro-timer::part(button) {
  font-size: inherit;
  padding: .8rem 1.6rem;
}

.tree-icon {
  color: green;
  font-size: 5rem;
  font-variation-settings: 'FILL' 1;
}
