/*!
  Styles specific to the log page.
*/

.no-log {
  padding: 3rem 0;
  text-align: center;
}

table {
  border-collapse: collapse;
  line-height: 1.1;
  /* table-layout: fixed; */
  width: 100%;
}

td,
th {
  border: 1px solid silver;
}

@media print {
  table,
  td,
  th {
    border-color: gray;
  }
}

td,
th {
  padding: .4rem .6rem;
}

tr td:nth-child(2),
tr td:nth-child(4) {
  text-align: center;
}

/* X-Small breakpoint.
*/
@media screen and (max-width: 576px) {
  th {
    font-size: x-small;
  }

  tr td:nth-child(1) {
    font-size: small;
  }

  td,
  th {
    padding: .3rem;
  }
}

/* Stripes.
*/
tbody tr:nth-child(odd) {
  background-color: var(--my-pom-stripe-color);
}

/* Scrolling table (tbody).
*/
@media screen {
  .experimental thead,
  .experimental tbody {
    display: block;
    width: 100%;
  }

  .experimental tbody {
    border-bottom: 1px solid silver;
    max-height: 75vh;
    overflow-y: scroll;
  }

  .experimental th:nth-child(1),
  .experimental th:nth-child(3),
  .experimental td:nth-child(1),
  .experimental td:nth-child(3) {
    width: calc(0.38 * 100%);
  }

  .experimental th:nth-child(2),
  .experimental th:nth-child(4),
  .experimental td:nth-child(2),
  .experimental td:nth-child(4) {
    width: calc(0.16 * 100%);
  }

  .experimental td:nth-child(4) {
    /* width: calc(calc(0.16 * 100%) + 30px); */
    padding: .2rem 1rem;
  }
}
