
body {
  background: #f7fff7;
  color: #006060; /* teal, #008080 */
  font: 1rem/1.6 sans-serif;
  margin: auto;
  min-height: 22rem;
  max-width: 32rem;
  padding: 0 1rem;
}

footer {
  font-size: 90%;
  margin-top: 1.6rem;
}

#userAgent {
  font-size: 92%;
}

h1 { font-size: 185%; }

h1, h2 { font-weight: normal; }

output {
  background-color: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: .2rem;
  display: block;
  min-height: 2rem;
  white-space: pre;
}

button {
  font-size: inherit;
  padding: .5rem 1rem;
}

input,
output {
  font-size: inherit;
  padding: .5rem .75rem;
}

input[ type = url ] {
  width: 16rem;
}

@media screen and (max-width: 600px) {
  input[ type = url ],
  button {
    display: block;
    width: 100%;
  }

  button {
    margin: .8rem 0;
  }

  input[ type = url ] {
    width: 92%;
  }
}

#log {
  line-height: 2;
}

time[ dt ] {
  display: inline-block;
  min-width: 10.6rem;
}

@media screen {
  comma {
    display: none;
  }

  time[ dt ]:after {
    content: ' – ';
  }

  time[ dur ]:after {
    content: ',';
  }
}
