/*!
  Styles for options and log pages.
*/

.full-page body {
  background: var(--my-pom-background-color);
  color: var(--my-pom-text-color);
  font: 1rem/1.6 sans-serif;
  margin: auto;
  min-height: 22rem;
  zoom: var(--my-pom-zoom);
}

@media screen {
  .full-page body {
    margin: auto;
    max-width: 38rem;
    padding: 0 1rem;
  }
}

main {
  min-height: 64vh;
}

footer {
  border-top: 1px solid silver;
  font-size: 90%;
  margin-top: 1.8rem;
}

#userAgent {
  font-size: 92%;
}

h1 { font-size: 185%; }

h2 { font-size: 140%; }

h1, h2 { font-weight: normal; }

form {
  margin-bottom: 2.2rem;
  X-border-bottom: 1px solid silver;
}

.full-page output {
  background-color: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: .2rem;
  display: block;
  min-height: 1.6rem;
  white-space: pre;
}

button {
  background-color: var(--my-pom-button-bg-color);
  border: 1px outset gray;
  border-radius: .15rem;
  color: var(--my-pom-button-text-color);
  font-size: inherit;
  padding: .5rem 1rem;
}

button:hover {
  background-color: var(--my-pom-button-hover-color);
}

input,
output,
select {
  font-size: inherit;
  padding: .5rem .75rem;
}

input[ type = url ] {
  width: 16rem;
}

@media screen and (max-width: 600px) {
  .full-page input[ type = url ],
  .full-page button {
    display: block;
    width: 100%;
  }

  .full-page button {
    margin: .8rem 0;
  }

  .full-page input[ type = url ] {
    width: 92%;
  }
}

table x-emj,
select[ name = emoji ] {
  color: #111;
  font-family: "Noto Color Emoji", emoji, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

/* Temp fix for emoji print bug (#21)
*/
@media print {
  table x-emj,
  select[ name = emoji ] {
    font-family: emoji, sans-serif;
  }
}

@media print {
  footer,
  .no-print {
    display: none;
  }

  .only-print {
    display: block;
  }
}

.svg-app-icon {
  height: var(--my-pom-icon-size);
  width: var(--my-pom-icon-size);
  margin-right: .1rem;
  vertical-align: middle;
}

.svg-app-icon.end {
  margin-left: .1rem;
  margin-right: 0;
}

.svg-logo {
  float: right;
  margin-right: 3rem;
  height: var(--my-pom-logo-size);
  width: var(--my-pom-logo-size);
}

.svg-app-icon,
.svg-logo {
  fill: var(--my-pom-icon-color, teal);  /* currentColor; */
  stroke: var(--my-pom-icon-color, teal);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 155%;
    line-height: 1.35;
  }

  h2 {
    font-size: 135%;
  }

  .svg-logo {
    margin-right: 0;
  }
}

#printButton .svg-app-icon {
  margin-right: .3rem;
}
